body {
    background-image: url('D:/NonoSorry/img/nono1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:first-of-type {
    background-color: #4CAF50; /* Green */
    color: white;
}

button:last-of-type {
    background-color: #f44336; /* Red */
    color: white;
}